* {
  margin: 0;
  padding: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@import "variables";
@import "about";
@import "skills";
@import "portfolio";
@import "contacts";